* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("./../fonts/CooperHewitt-Light.otf");
  font-weight: lighter;
}

* {
  font-family: "Cooper Hewitt";
}

html {
  scroll-behavior: smooth;
  background: black;
  overflow-x: hidden;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  z-index: 200;
}

.containor {
  background: #211f1f;
}

.containor div {
  background-image: url("./../images/about_top.png");
}

.top--nav {
  width: 100%;
  position: relative;
  background: black;
  padding-left: 2rem;
  padding-right: 2rem;
}

.top--nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
}

.top--nav .links .icons {
  background: black;
}

.top--nav .cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.top--nav .nav-item {
  height: 100vh;
  background: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top--nav .nav-item li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
}

.top--nav .nav-item li a {
  color: white;
}

.top--nav .nav-item li:hover {
  border-top: 1px solid #cd1d46;
  font-size: 1rem;
  font-weight: 600;
}

.top--nav .nav-item li:hover a {
  color: white;
}

.welcome {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .wlcm-holder {
  width: 80%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .wlcm-holder p,
.welcome .wlcm-holder h2 {
  color: #a8b1b6;
  text-align: center;
  margin-top: 1rem;
}

.welcome .wlcm-holder h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.welcome .wlcm-holder .title {
  color: #cd1d46;
  text-transform: uppercase;
}

.welcome .wlcm-holder .para {
  line-height: 1.8rem;
  text-align: center;
}

.welcome .wlcm-holder div {
  margin-top: 1rem;
}

.welcome .wlcm-holder div span {
  color: #a8b1b6;
  display: inline;
  margin-left: 1rem;
  color: white;
}

.welcome .wlcm-holder div span:nth-child(1) {
  text-decoration: underline;
}

.about-bl-img {
  height: 25rem;
  position: relative;
}

.about-bl-img .image {
  background-image: url("./../images/brain.png");
  width: 100%;
  height: 100%;
  background-size: 150%;
  background-position: -100px, 100px;
  -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
          clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
}

.cards-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-holder .card {
  width: 85%;
  max-width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cards-holder .card img {
  border: 50%;
  max-height: 253px;
  height: 150px;
}

.cards-holder .card .information {
  padding: 1rem;
}

.cards-holder .card .information h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.cards-holder .card .information p {
  line-height: 1.3rem;
  color: #a8b1b6;
}

.headhand-bl-img {
  height: 25rem;
  position: relative;
}

.headhand-bl-img .image {
  background-image: url("./../images/brain-hand.png");
  width: 100%;
  height: 100%;
  background-size: 300%;
  background-position: -250px, 100px;
  -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
          clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
}

.search-bl-img {
  height: 18rem;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  position: relative;
}

.search-bl-img .image {
  background-image: url("./../images/pipe.png");
  width: 100%;
  height: 100%;
  background-size: 300%;
  background-position: -250px, 100px;
  -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
          clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
}

.brain2-bl-img {
  display: none;
}

.our-p {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -10rem;
  padding-bottom: 2rem;
}

.our-p-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
}

.our-p-nav li {
  padding: 1rem;
  text-transform: uppercase;
}

.our-p-nav li a {
  color: #a8b1b6;
  font-size: 1rem;
}

.our-p-nav li:hover {
  border: 1px solid #cd1d46;
  border-radius: 30px;
}

.our-p-nav li:hover a {
  color: white;
}

.card-holder {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.card-holder .carde {
  margin-bottom: 2rem;
  width: 90%;
  padding: 2rem 0 0 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
}

.card-holder .carde .card-left {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
}

.card-holder .carde .card-left img {
  width: 200px;
}

.card-holder .carde .card-left .icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
}

.card-holder .carde .card-left .icon-holder div {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-holder .carde .card-left .icon-holder div .txt {
  color: white;
  text-transform: uppercase;
  background: black;
}

.card-holder .carde .card-left .icon-holder div .icons {
  background: black;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cd1d46;
}

.card-holder .carde .card-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  width: 100%;
  background: black;
}

.card-holder .carde .card-right h1 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

.card-holder .carde .card-right .rank {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
  color: #cd1d46;
  text-transform: uppercase;
  font-weight: 600;
}

.card-holder .carde .card-right .intro {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  color: #a8b1b6;
}

.cell-home-bl-img {
  height: 25rem;
  position: relative;
}

.cell-home-bl-img .image {
  background-image: url("./../images/cell_home.png");
  width: 100%;
  height: 100%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: -100px, 100px;
  -webkit-clip-path: polygon(0 25%, 100% 42%, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 42%, 100% 100%, 0% 100%);
}

.footer-bar {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bar .bar-cont {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a8b1b6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-bar .bar-cont p {
  color: #a8b1b6;
}

.operation {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.operation img {
  width: 400px;
  z-index: 10;
}

@media screen and (min-width: 750px) {
  .welcome {
    margin-top: 6rem;
  }
  .welcome .wlcm-holder .title {
    margin-bottom: 1.5rem;
  }
  .welcome .wlcm-holder h2 {
    margin-bottom: 1.5rem;
  }
  .welcome .wlcm-holder .para {
    margin-bottom: 1.5rem;
  }
  .top--nav .links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top--nav .links .nav-item .ch {
    border: 1px solid #cd1d46;
  }
  .top--nav .links .lst-child {
    position: relative;
    border-radius: 30px;
  }
  .top--nav .links .lst-child:hover {
    background-color: #cd1d46;
  }
  .top--nav .links .lst-child:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100;
    top: -5px;
    left: 0;
    border-radius: 20px;
    border: 1px solid #cd1d46;
    padding-top: 3rem;
  }
  .top--nav .nav-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .top--nav .cross {
    display: none;
  }
  .about-bl-img,
  .cell-home-bl-img {
    height: 35rem;
  }
  .about-bl-img .image,
  .cell-home-bl-img .image {
    background-size: auto;
    background-size: 100%;
    background-position: -100px, 100px;
  }
  .cards-holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards-holder .card {
    border: none;
  }
  .cards-holder .card .information p {
    line-height: 1.5rem;
    text-align: left;
  }
  .headhand-bl-img {
    height: 35rem;
  }
  .headhand-bl-img .playbtn {
    top: 12%;
    left: 45%;
  }
  .headhand-bl-img .image {
    background-size: auto;
  }
  .footer-bar {
    margin-top: 1rem;
    -webkit-transform: translateY(-8rem);
            transform: translateY(-8rem);
  }
  .footer-bar .bar-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-bar .items {
    margin-bottom: 3rem;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bar .items .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bar .items .icons li {
    padding: 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
  }
  .footer-bar .items .icons li a {
    color: white;
  }
  .footer-bar .items .icons li:hover {
    border: 1px solid #cd1d46;
  }
  .footer-bar .items .icons li:hover a {
    font-size: 1.1rem;
  }
  .footer-bar .items .nav-item li a {
    color: white;
    border-radius: 30px;
    border: 1px solid #cd1d46;
    padding: 1rem;
  }
  .operation {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .operation img {
    width: 62%;
  }
  .card-holder {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  .card-holder .carde {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    padding: 2rem;
  }
  .card-holder .carde .card-left {
    display: block;
    margin-top: 0.5rem;
  }
  .card-holder .carde .card-left img {
    width: 100%;
  }
  .card-holder .carde .card-left .icon-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-holder .carde .card-left .icon-holder div .icons {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .card-holder .carde .card-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    padding-left: 3rem;
  }
  .card-holder .carde .card-right h1 {
    text-align: left;
  }
  .card-holder .carde .card-right .rank {
    text-align: left;
  }
  .card-holder .carde .card-right .intro {
    text-align: left;
  }
  .brain2-bl-img {
    display: block;
    height: 40rem;
    -webkit-transform: translateY(-15rem);
            transform: translateY(-15rem);
    position: relative;
  }
  .brain2-bl-img .image {
    background-image: url("./../images/brain2.png");
    width: 120%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -110px, 100px;
    -webkit-clip-path: polygon(0 33%, 99% 57%, 100% 100%, 0 99%);
            clip-path: polygon(0 33%, 99% 57%, 100% 100%, 0 99%);
  }
  .search-bl-img {
    height: 40rem;
    -webkit-transform: translateY(-11rem);
            transform: translateY(-11rem);
    position: relative;
  }
  .search-bl-img .image {
    background-image: url("./../images/pipe.png");
    width: 100%;
    height: 100%;
    background-size: 150%;
    background-position: -250px, 100px;
    -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
            clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
  }
}

.items {
  display: none;
}

.line {
  position: relative;
  height: 5rem;
  width: 0.2rem;
  background: #373434 !important;
  margin-bottom: 3.3rem;
}

.line::after {
  content: "";
  position: absolute;
  background-color: #cd1d46;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: none;
}
/*# sourceMappingURL=about.css.map */