* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("./../fonts/CooperHewitt-Light.otf");
}

* {
  font-family: "Cooper Hewitt";
}

html {
  scroll-behavior: smooth;
  background: black;
  overflow-x: hidden;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
  z-index: 200;
}

.top--nav {
  width: 100%;
  position: relative;
  background: black;
  padding-left: 2rem;
  padding-right: 2rem;
}

.top--nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
}

.top--nav .links .icons {
  background: black;
}

.top--nav .cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.top--nav .nav-item {
  height: 100vh;
  background: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top--nav .nav-item li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
}

.top--nav .nav-item li a {
  color: white;
}

.top--nav .nav-item li:hover {
  border-top: 1px solid #cd1d46;
  font-size: 1rem;
  font-weight: 600;
}

.top--nav .nav-item li:hover a {
  color: white;
}

.welcome {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .wlcm-holder {
  width: 80%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .wlcm-holder p,
.welcome .wlcm-holder h2 {
  color: #a8b1b6;
  text-align: center;
  margin-top: 1.2rem;
}

.welcome .wlcm-holder h2 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.welcome .wlcm-holder .title {
  color: #cd1d46;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.welcome .wlcm-holder .para {
  line-height: 1.8rem;
  text-align: center;
}

.welcome .wlcm-holder div {
  margin-top: 1rem;
}

.welcome .wlcm-holder div span {
  color: #a8b1b6;
  display: inline;
  margin-left: 1rem;
  color: white;
}

.welcome .wlcm-holder div span:nth-child(1) {
  text-decoration: underline;
}

.welcome .form {
  width: 100%;
  top: 70%;
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .form form {
  background-color: black;
  width: 50%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}

.welcome .form form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.welcome .form form div .input {
  height: 2.2rem;
  width: 50%;
  background-color: #151313;
  outline: none;
  border: 0;
  border: 0.1px solid #525252;
  margin-right: 0.5rem;
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
}

.welcome .form form div .input::-webkit-input-placeholder {
  color: white;
}

.welcome .form form div .input:-ms-input-placeholder {
  color: white;
}

.welcome .form form div .input::-ms-input-placeholder {
  color: white;
}

.welcome .form form div .input::placeholder {
  color: white;
}

.welcome .form form div .comment {
  width: 100%;
  height: 250px;
  background-color: #151313;
  outline: none;
  border: 0;
  border: 0.2px solid #6f6f6f;
  margin-right: 0.5rem;
  color: white;
  text-align: justify;
  font-size: 1rem;
  padding-left: 1rem;
}

.welcome .form form div .comment::-webkit-input-placeholder {
  color: white;
}

.welcome .form form div .comment:-ms-input-placeholder {
  color: white;
}

.welcome .form form div .comment::-ms-input-placeholder {
  color: white;
}

.welcome .form form div .comment::placeholder {
  color: white;
}

.img-cont {
  width: 100%;
  height: 80vh;
}

.img-cont .img {
  background-size: cover;
  background-position-x: -12rem;
  height: 100%;
  background-image: url("./../images/black-brain.png");
}

.about-bl-img {
  margin-top: 0;
  height: 15rem;
  position: relative;
}

.about-bl-img .image {
  background-image: url("./../images/contact-cell.png");
  width: 100%;
  height: 100%;
  background-size: 200%;
  background-position: -200px, 100px;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
          clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
}

.footer-bar {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bar .bar-cont {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a8b1b6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-bar .bar-cont p {
  color: #a8b1b6;
}

@media screen and (min-width: 750px) {
  .top--nav .links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top--nav .links .nav-item .ch {
    border: 1px solid #cd1d46;
  }
  .top--nav .links .lst-child {
    position: relative;
    border-radius: 30px;
  }
  .top--nav .links .lst-child:hover {
    background-color: #cd1d46;
  }
  .top--nav .links .lst-child:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100;
    top: -5px;
    left: 0;
    border-radius: 20px;
    border: 1px solid #cd1d46;
    padding-top: 3rem;
  }
  .top--nav .nav-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .top--nav .cross {
    display: none;
  }
  .img-cont .img {
    background-position-x: -4rem;
  }
  .footer-bar {
    margin-top: 1rem;
  }
  .footer-bar .bar-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-bar .items {
    margin-bottom: 3rem;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bar .items .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bar .items .icons li {
    padding: 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
  }
  .footer-bar .items .icons li a {
    color: white;
  }
  .footer-bar .items .icons li:hover {
    border: 1px solid #cd1d46;
  }
  .footer-bar .items .icons li:hover a {
    font-size: 1.1rem;
  }
  .footer-bar .items .nav-item li a {
    color: white;
    border-radius: 30px;
    border: 1px solid #cd1d46;
    padding: 1rem;
  }
  .about-bl-img {
    margin-top: 0;
    height: 40rem;
    position: relative;
  }
  .about-bl-img .image {
    background-image: url("./../images/contact-cell.png");
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: -400px, 100px;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
            clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
  }
  .icon-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    margin-bottom: 4rem;
  }
  .icon-holder div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon-holder div .txt {
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
  }
  .icon-holder div .icons {
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #cd1d46;
  }
}

.items {
  display: none;
}

.line {
  position: relative;
  height: 5rem;
  width: 0.2rem;
  background: #373434 !important;
  margin-bottom: 3.3rem;
}

.line::after {
  content: "";
  position: absolute;
  background-color: #cd1d46;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: none;
}
/*# sourceMappingURL=contact.css.map */