* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primary-pink: #cd1d46;
$primary-black: #292727;
$light-gray: #a8b1b6;
@font-face {
  font-family: "Cooper Hewitt";
  src: url("./../fonts/CooperHewitt-Light.otf");
  font-weight: lighter;
}
// @font-face {
//   font-family: "Cooper Hewitt";
//   src: url("./../fonts/CooperHewitt-Medium.otf");
//   font-size: medium;
// }
// @font-face {
//   font-family: "Cooper Hewitt";
//   src: url("./../fonts/CooperHewitt-Heavy.otf");
//   font-size: larger;
// }
* {
  font-family: "Cooper Hewitt";
}
html {
  scroll-behavior: smooth;
}
.brd {
  border-top: 1px solid $primary-pink;
}
body {
  // background-color: black !important;
}
li {
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
  z-index: 200;
}
.containor {
  background-color: rgb(0, 0, 0);
  // border: 1px solid white;
}
.top--nav {
  background-color: black;
  width: 100%;
  //   height: 100vh;
  position: relative;
  // padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  //   border-bottom: 1px solid red;
  .link {
    display: flex;
  }
  .cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }
  .nav-item {
    height: 100vh;
    // border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;

    & li {
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 1rem;
      margin: 0.5rem;
      & a {
        color: white;
        font-size: 1rem;
      }
      &:hover {
        border-top: 1px solid $primary-pink;
        font-size: 1rem;
        font-weight: 600;
        & a {
          color: white;
        }
      }
    }
  }
}

// welcome
.pt1 {
  background-size: cover;
  z-index: 15;
  transform: translateY(-10rem);
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("./../images/shutterstock_1809752635.png") !important;
}

.welcome {
  //   border: 1px solid white;
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .wlcm-holder {
    width: 80%;
    max-width: 600px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p,
    & h2 {
      color: $light-gray;
      text-align: center;
      margin-top: 0.2rem;
      width: 100%;
      // border: 1px solid red;
    }
    & p {
      font-size: 0.8rem;
      width: 98%;
    }
    & h2 {
      font-size: 1.9rem;
      font-weight: 600;
      color: white;
      letter-spacing: 0.1rem;
      font-weight: 400;
    }
    .title {
      color: $primary-pink;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
    }
    .para {
      // letter-spacing: 0.1rem;
      line-height: 1.5rem;
    }
    .v-tit {
      // border: 1px solid red;
      font-size: 1rem;
      font-weight: 600;
    }
    .v-para {
      // border: 1px solid red;
      width: 90%;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.7px;
    }
    .v-h2 {
      // border: 1px solid red;
      width: 85%;
    }
    .m-title {
      width: 100%;
      font-size: 1rem;
      font-weight: 600;
      // border: 1px solid red;
    }
    .m-para {
      width: 100%;
      // border: 1px solid red;
      text-align: center;
      font-size: 0.9;
      letter-spacing: 0.1px;
    }
    .m-h2 {
      width: 100%;
      // border: 1px solid red;
      font-size: 1.5rem;
    }
    & div {
      margin-top: 1rem;
      & span {
        color: $light-gray;
        display: inline;
        margin-left: 0.5rem;
        color: white;
        font-size: 0.7rem;
      }
      & span:nth-child(1) {
        text-decoration: underline;
        // line-height: 1rem;
      }
    }
  }
}

// youtube

.about-bl-img {
  height: 25rem;
  //   border: 1px solid goldenrod;

  position: relative;
  .image {
    background-image: url("./../images/cell.png");
    width: 100%;
    height: 100%;
    background-size: 250%;
    background-position: (-200px, 100px);
    // background-position: auto;

    clip-path: polygon(0 8%, 100% 24%, 100% 73%, 0 61%);
  }
  .playbtn {
    width: 6rem;
    position: absolute;
    height: 6rem;
    border-radius: 50%;
    background-color: $primary-pink;
    top: -1000px;
    right: 0px;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

// card hodlder

.cards-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   border: 1px solid red;

  .card {
    width: 85%;
    max-width: 400px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px dashed red;
    // height: 10vh;
    & img {
      border: 50%;
      max-height: 253px;
      height: 150px;
    }
    .information {
      padding: 1rem;
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        margin-bottom: 1rem;
        letter-spacing: 0.9px;
      }
      & p {
        line-height: 1.3rem;
        color: $light-gray;
      }
    }
  }
}

// head hand

.headhand-bl-img {
  height: 25rem;
  transform: translateY(-10rem);
  //   border: 1px solid goldenrod;

  position: relative;
  .image {
    background-image: url("./../images/brain-hand.png");
    width: 100%;
    height: 100%;
    background-size: 300%;
    background-position: (-250px, 100px);
    // background-position: auto;

    clip-path: polygon(0 8%, 100% 24%, 100% 73%, 0 61%);
  }
}

// video

.video {
  width: 100%;
  height: 300px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  transform: translateY(-15rem);

  & video {
    height: 100%;
    width: 80%;
  }
  .btn {
    padding: 1rem;
    border-radius: 30px;
    border: 1px solid $primary-pink;
    color: white;
  }
}

// cell home

.cell-home-bl-img {
  height: 25rem;
  //   border: 1px solid goldenrod;

  position: relative;
  .image {
    background-image: url("./../images/cell_home.png");
    width: 100%;
    height: 100%;
    border: 1px solid red;
    // background-size: 150%;
    // background-repeat: no-repeat;
    // background-position: (-200px, 100px);
    // background-position: auto;
    // background-size: cover;
    clip-path: polygon(0 9%, 100% 17%, 100% 77%, 0 69%);
  }
}
.top {
  margin-top: 8rem;
}
// footer-bar

.footer-bar {
  transform: translateY(-10rem);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  .bar-cont {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $light-gray;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    & p {
      color: $light-gray;
    }
  }
}
// our Mission

// mediaQurey
// mediaQurey
// mediaQurey
// mediaQurey
// mediaQurey
// mediaQurey
.mission {
  transform: translateY(-15rem);
}

@media screen and (min-width: 750px) {
  .welcome {
    // margin-top: 6rem;
    .wlcm-holder {
      .title {
        margin-bottom: 1.5rem;
      }
      & h2 {
        margin-bottom: 1.5rem;
      }
      .para {
        margin-bottom: 1.5rem;
      }
    }
  }
  .footer-bar {
    margin-top: 1rem;
    // transform: translateY(-8rem);
    .bar-cont {
      flex-direction: row;
    }
    .items {
      margin-bottom: 3rem;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        & li {
          padding: 1rem;
          border-radius: 30px;
          font-size: 0.9rem;
          & a {
            color: white;
          }
          &:hover {
            border: 1px solid $primary-pink;
            & a {
              font-size: 1.1rem;
            }
          }
        }
      }
      .nav-item {
        & li {
          & a {
            color: white;
            border-radius: 30px;
            border: 1px solid $primary-pink;
            padding: 1rem;
          }
        }
      }
    }
  }
  .top--nav {
    // justify-content: space-between;

    // border: 1px solid blue;
    .links {
      justify-content: space-between;
      display: flex !important;
      align-items: center;
      flex-direction: row;
      .nav-item {
        .ch {
          border: 1px solid $primary-pink;
        }
      }
      .lst-child {
        position: relative;
        // border: 1px solid $primary-pink;
        border-radius: 30px;
        &:hover {
          background-color: $primary-pink;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100;
            top: -5px;
            left: 0;
            border-radius: 20px;
            border: 1px solid $primary-pink;

            padding-top: 3rem;
          }
        }
        // margin-top: 2rem;
      }
    }
    .nav-item {
      flex-direction: row;
      display: flex;
      height: 100%;
    }
    .cross {
      display: none;
    }
  }
  .cell-home-bl-img {
    height: 30rem;
    //   border: 1px solid goldenrod;
    transform: translateY(-10rem);

    position: relative;
    .image {
      background-image: url("./../images/cell_home.png");
      width: 100%;
      height: 100%;
      border: 1px solid red;
      // background-size: 150%;
      // background-repeat: no-repeat;
      // background-position: (-200px, 100px);
      // background-position: auto;
      // background-size: cover;
      clip-path: polygon(0 9%, 100% 17%, 100% 77%, 0 69%);
    }
  }
  .about-bl-img {
    z-index: 100;
    // background: white;
    height: 45rem;
    .playbtn {
      top: 8%;
      left: 47%;
    }
    .image {
      // background-size: auto;
      width: 100%;
      height: 100%;
      background-size: 160%;
      background-repeat: no-repeat;
      background-position-x: -350px;
      background-position-y: -570px;
    }
  }
  .cards-holder {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
    justify-content: center;
    .card {
      border: none;
      & img {
        width: 12rem;
        height: 12rem;
      }
      .information {
        & h3 {
          text-align: left;
        }
        & p {
          line-height: 1.5rem;
          text-align: left;
          font-weight: 600;
        }
      }
    }
  }
  .headhand-bl-img {
    height: 35rem;
    .playbtn {
      top: 12%;
      left: 45%;
    }
    .image {
      background-size: auto;
    }
  }

  .video {
    margin-top: 2rem;

    & video {
      width: 50%;
    }
  }
  .footer-bar {
    margin-top: 1rem;
    .bar-cont {
      flex-direction: row;
    }
  }
}
.items {
  display: none;
}
.show {
  display: flex !important;
  //   border: 1px solid red;
  visibility: none;
}

@mixin rings($duration, $delay) {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

.line {
  position: relative;
  height: 5rem;
  width: 0.2rem;
  background: rgb(55, 52, 52) !important;
  margin-bottom: 3.3rem;
  &::after {
    content: "";
    position: absolute;
    background-color: $primary-pink;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
  }
}
