* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  text-decoration: none;
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
}

$primary-pink: #cd1d46;
$primary-black: #292727;
$light-gray: #a8b1b6;
body {
  background-color: $primary-black;
  overflow-x: hidden;
}
.top-nav {
  padding: 2rem;
}
.nav {
  width: 100vw;
  height: 6rem;
  background-color: $primary-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   padding: 1rem;
  color: white;

  .log {
    margin-left: 1rem;
  }
  .lft-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      text-transform: uppercase;
      padding: 1rem;
      // border: 1px solid red;;
      height: 100%;
      // margin-left: 2rem;
      a {
        color: white;
      }
      &:hover {
        border-top: 1px solid $primary-pink;
      }
    }
    .lst-child {
      border: 1px solid $primary-pink;
      border-radius: 30px;
    }
  }
}
.aboutus {
  margin-top: 5.4rem;
  height: 26rem;
  justify-content: center;
  align-items: center;
  display: flex;
  .aboutus-cont {
    // background-color: red;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .line {
      height: 3rem;
      background-color: $primary-pink;
      border: 1px solid $primary-pink;
      margin-bottom: 3.3rem;
    }
    & h5 {
      text-transform: uppercase;
      color: $primary-pink;
      font-weight: 600;
      font-size: 1rem;
    }
    & h1 {
      color: white;
      //   font-weight: 400;
      font-weight: lighter;
      font-size: 2.5rem;
      margin-top: 1.7rem;
    }
    & p {
      margin-top: 1.7rem;
      font: 1.2rem;
      font-weight: 500;
      text-align: center;
      line-height: 2rem;
      color: $light-gray;
    }
  }
}
// 627px
.about-bl-img {
  height: 40rem;

  position: relative;
  .image {
    background-image: url("./../images/brain.png");
    width: 100%;
    height: 100%;
    background-size: cover;

    clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
  }
}

// Sroll

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: black #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.our-research {
  margin-top: 1rem;
  //   height: 26rem;
  justify-content: center;
  align-items: center;
  display: flex;
  .aboutus-cont {
    // background-color: red;
    // border: 1px solid red;
    width: 61%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
    .line {
      height: 3rem;
      background-color: $primary-pink;
      border: 1px solid $primary-pink;
      margin-bottom: 3.3rem;
    }
    & h5 {
      text-transform: uppercase;
      color: $primary-pink;
      font-weight: 600;
      font-size: 1rem;
    }
    & h1 {
      color: white;
      //   font-weight: 400;
      font-weight: lighter;
      font-size: 2.5rem;
      margin-top: 1.7rem;
    }
    .res-top {
      margin-top: 5rem;
      display: flex;
      justify-content: space-around;
      //   align-items: center;
      //   padding-right: 1rem;
      & p {
        color: $light-gray;
        // margin-right: 1.5rem;
        width: 48%;
        line-height: 2rem;
      }
    }
    & img {
      position: relative;
      width: 100%;
      object-fit: cover;
      height: 675px;
      z-index: 10;
      //   border: 1px solid red;
    }
  }
}

// 627px
.search-bl-img {
  height: 40rem;
  //   border: 1px solid red;
  transform: translateY(-11rem);
  position: relative;
  .image {
    background-image: url("./../images/pipe.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-y: -2rem;

    clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
  }
}

// our people

.our-people {
  //   border: 1px solid red;

  margin-top: -15rem;
  height: 26rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .aboutus-cont {
    // background-color: red;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .line {
      height: 3rem;
      background-color: $primary-pink;
      border: 1px solid $primary-pink;
      margin-bottom: 3.3rem;
    }
    & h5 {
      text-transform: uppercase;
      color: $primary-pink;
      font-weight: 600;
      font-size: 1rem;
    }
    & h1 {
      color: white;
      //   font-weight: 400;
      font-weight: lighter;
      font-size: 2.5rem;
      margin-top: 1.7rem;
    }
  }
  .our-p-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 3rem;
    & li {
      padding: 1rem;
      text-transform: uppercase;
      & a {
        color: $light-gray;
        font-size: 0.8rem;
      }
      &:hover {
        border: 1px solid$primary-pink;
        border-radius: 30px;
        & a {
          color: white;
        }
      }
    }
    .act {
      border: 1px solid$primary-pink;
      border-radius: 30px;
    }
  }
}

// cards

.card-holder {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  //   border: 1px solid white;

  .card {
    margin-bottom: 2rm;
    background-color: black;
    width: 70%;
    padding: 3rem;
    margin-bottom: 1rem;
    display: flex;
    // border: 1px solid white;
    .card-left {
      //   border: 1px solid red;

      .icon-holder {
        // float: left;
        // display: flex;
        // flex-direction: column;
        & div {
          .txt {
            color: white;
            text-transform: uppercase;
          }
          display: flex;
          margin-top: 0.5rem;
          //   justify-content: center;
          align-items: center;
          .icons {
            margin-right: 1rem;
            width: 4rem;
            height: 4rem;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            border: 1px solid $primary-pink;
          }
        }
      }
    }
    .card-right {
      //   border: 1px solid green;
      flex: 1 auto;
      padding-left: 3rem;
      & h1 {
        font-size: 2rem;
        font-weight: 400;
        color: white;
      }
      .rank {
        margin-top: 1rem;

        font-size: 1.1rem;
        color: $primary-pink;
        text-transform: uppercase;
        font-weight: 600;
      }
      .intro {
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 2rem;
        color: $light-gray;
      }
    }
  }
}

.brain2-bl-img {
  height: 40rem;
  transform: translateY(-1rem);
  position: relative;
  .image {
    background-image: url("./../images/brain.png");
    width: 100%;
    height: 100%;
    background-size: cover;

    clip-path: polygon(0 33%, 99% 57%, 100% 100%, 0 99%);
  }
}
.footer-nav {
  margin-top: 5rem;
  padding: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  //   border: 1px solid white;
  .btm {
    width: 80%;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .log {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & li {
        padding: 1rem;
        text-transform: uppercase;

        a {
          color: white;
        }
        &:hover {
          border: 1px solid $primary-pink;
          border-radius: 40px;
        }
      }
    }
  }
  .cnt {
    .lst-child {
      border: 1px solid $primary-pink;
      border-radius: 30px;
      padding: 1rem;
      & a {
        color: white;
        text-transform: uppercase;
      }
    }
  }
}

.end {
  width: 100%;
  margin-top: 5rem;

  justify-content: center;
  align-items: center;
  display: flex;
  & div {
    padding-top: 3rem;
    padding-bottom: 3rem;

    width: 74%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $light-gray;
    & p {
      color: $light-gray;
    }
  }
}

// media qurey

@media screen and (max-width: 900px) {
  body {
    // background-color: lightgreen;
  }
  .log {
    // width: 5rem1;
    margin-left: 0;
    // height: 10rem/;
  }
  .lft-nav {
    // border: 1px solid red;
    & a {
      font-size: 0.8rem;
    }
  }
  .aboutus {
    // border: 1px solid red;
    .aboutus-cont {
      //   border: 1px solid goldenrod;
      width: 80%;
    }
  }
  .our-research {
    // border: 1px solid red;
    .aboutus-cont {
      border: 1px solid $light-gray;
      width: 80%;
    }
  }

  .search-bl-img {
    height: 32rem;
  }
  .our-people {
    // border: 1px solid red;
    .aboutus-cont {
      width: 80%;
      & h1 {
        font-size: 2rem;
        // justify-content: center;
      }
    }
    .our-p-nav {
      width: 100%;
      //   border: 1px solid green;
      & li {
        font-size: 1rem;

        & a {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }
  }
  .card-holder {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .card {
      //   border: 1px solid blue;
      width: 90%;
      .card-left {
        & img {
          // width: 100%;
          // height: 100%;
        }
      }
    }
  }
  .footer-nav {
    // border: 1px solid red;
    .btm {
      //   border: 1px solid green;
      width: 100%;
    }
  }
}

@media screen and (max-width: 802px) {
  body {
    // background-color: rgb(66, 77, 66);
  }
  .aboutus {
    // border: 1px solid red;
    .aboutus-cont {
      //   border: 1px solid goldenrod;
      width: 80%;
    }
  }
  .our-research {
    // border: 1px solid red;
    .aboutus-cont {
      border: 1px solid $light-gray;
      width: 80%;
    }
  }

  .search-bl-img {
    height: 32rem;
  }
  .our-people {
    // border: 1px solid red;
    .aboutus-cont {
      width: 80%;
    }
    .our-p-nav {
      width: 90%;
      //   border: 1px solid green;
    }
  }
  .card-holder {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .card {
      //   border: 1px solid blue;
      width: 90%;
      .card-left {
        & img {
          // width: 100%;
          // height: 100%;
        }
      }
    }
  }
  .footer-nav {
    // border: 1px solid red;
    .btm {
      //   border: 1px solid green;
      width: 100%;
      .log {
        & li {
          & a {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
