* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #292727;
  overflow-x: hidden;
}

.top-nav {
  padding: 2rem;
}

.nav {
  width: 100vw;
  height: 6rem;
  background-color: #292727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav .log {
  margin-left: 1rem;
}

.nav .lft-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .lft-nav li {
  text-transform: uppercase;
  padding: 1rem;
  height: 100%;
}

.nav .lft-nav li a {
  color: white;
}

.nav .lft-nav li:hover {
  border-top: 1px solid #cd1d46;
}

.nav .lft-nav .lst-child {
  border: 1px solid #cd1d46;
  border-radius: 30px;
}

.aboutus {
  margin-top: 5.4rem;
  height: 26rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutus .aboutus-cont {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus .aboutus-cont .line {
  height: 3rem;
  background-color: #cd1d46;
  border: 1px solid #cd1d46;
  margin-bottom: 3.3rem;
}

.aboutus .aboutus-cont h5 {
  text-transform: uppercase;
  color: #cd1d46;
  font-weight: 600;
  font-size: 1rem;
}

.aboutus .aboutus-cont h1 {
  color: white;
  font-weight: lighter;
  font-size: 2.5rem;
  margin-top: 1.7rem;
}

.aboutus .aboutus-cont p {
  margin-top: 1.7rem;
  font: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 2rem;
  color: #a8b1b6;
}

.about-bl-img {
  height: 40rem;
  position: relative;
}

.about-bl-img .image {
  background-image: url("./../images/brain.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
          clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: black #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.our-research {
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-research .aboutus-cont {
  width: 61%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-research .aboutus-cont .line {
  height: 3rem;
  background-color: #cd1d46;
  border: 1px solid #cd1d46;
  margin-bottom: 3.3rem;
}

.our-research .aboutus-cont h5 {
  text-transform: uppercase;
  color: #cd1d46;
  font-weight: 600;
  font-size: 1rem;
}

.our-research .aboutus-cont h1 {
  color: white;
  font-weight: lighter;
  font-size: 2.5rem;
  margin-top: 1.7rem;
}

.our-research .aboutus-cont .res-top {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-research .aboutus-cont .res-top p {
  color: #a8b1b6;
  width: 48%;
  line-height: 2rem;
}

.our-research .aboutus-cont img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 675px;
  z-index: 10;
}

.search-bl-img {
  height: 40rem;
  -webkit-transform: translateY(-11rem);
          transform: translateY(-11rem);
  position: relative;
}

.search-bl-img .image {
  background-image: url("./../images/pipe.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: -2rem;
  -webkit-clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
          clip-path: polygon(0 15%, 100% 26%, 100% 86%, 0 77%);
}

.our-people {
  margin-top: -15rem;
  height: 26rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-people .aboutus-cont {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-people .aboutus-cont .line {
  height: 3rem;
  background-color: #cd1d46;
  border: 1px solid #cd1d46;
  margin-bottom: 3.3rem;
}

.our-people .aboutus-cont h5 {
  text-transform: uppercase;
  color: #cd1d46;
  font-weight: 600;
  font-size: 1rem;
}

.our-people .aboutus-cont h1 {
  color: white;
  font-weight: lighter;
  font-size: 2.5rem;
  margin-top: 1.7rem;
}

.our-people .our-p-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-top: 3rem;
}

.our-people .our-p-nav li {
  padding: 1rem;
  text-transform: uppercase;
}

.our-people .our-p-nav li a {
  color: #a8b1b6;
  font-size: 0.8rem;
}

.our-people .our-p-nav li:hover {
  border: 1px solid #cd1d46;
  border-radius: 30px;
}

.our-people .our-p-nav li:hover a {
  color: white;
}

.our-people .our-p-nav .act {
  border: 1px solid #cd1d46;
  border-radius: 30px;
}

.card-holder {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.card-holder .card {
  margin-bottom: 2rm;
  background-color: black;
  width: 70%;
  padding: 3rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-holder .card .card-left .icon-holder div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-holder .card .card-left .icon-holder div .txt {
  color: white;
  text-transform: uppercase;
}

.card-holder .card .card-left .icon-holder div .icons {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cd1d46;
}

.card-holder .card .card-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  padding-left: 3rem;
}

.card-holder .card .card-right h1 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.card-holder .card .card-right .rank {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #cd1d46;
  text-transform: uppercase;
  font-weight: 600;
}

.card-holder .card .card-right .intro {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  color: #a8b1b6;
}

.brain2-bl-img {
  height: 40rem;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  position: relative;
}

.brain2-bl-img .image {
  background-image: url("./../images/brain.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-clip-path: polygon(0 33%, 99% 57%, 100% 100%, 0 99%);
          clip-path: polygon(0 33%, 99% 57%, 100% 100%, 0 99%);
}

.footer-nav {
  margin-top: 5rem;
  padding: 2rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav .btm {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav .btm .log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav .btm .log li {
  padding: 1rem;
  text-transform: uppercase;
}

.footer-nav .btm .log li a {
  color: white;
}

.footer-nav .btm .log li:hover {
  border: 1px solid #cd1d46;
  border-radius: 40px;
}

.footer-nav .cnt .lst-child {
  border: 1px solid #cd1d46;
  border-radius: 30px;
  padding: 1rem;
}

.footer-nav .cnt .lst-child a {
  color: white;
  text-transform: uppercase;
}

.end {
  width: 100%;
  margin-top: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.end div {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a8b1b6;
}

.end div p {
  color: #a8b1b6;
}

@media screen and (max-width: 900px) {
  .log {
    margin-left: 0;
  }
  .lft-nav a {
    font-size: 0.8rem;
  }
  .aboutus .aboutus-cont {
    width: 80%;
  }
  .our-research .aboutus-cont {
    border: 1px solid #a8b1b6;
    width: 80%;
  }
  .search-bl-img {
    height: 32rem;
  }
  .our-people .aboutus-cont {
    width: 80%;
  }
  .our-people .aboutus-cont h1 {
    font-size: 2rem;
  }
  .our-people .our-p-nav {
    width: 100%;
  }
  .our-people .our-p-nav li {
    font-size: 1rem;
  }
  .our-people .our-p-nav li a {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .card-holder {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-holder .card {
    width: 90%;
  }
  .footer-nav .btm {
    width: 100%;
  }
}

@media screen and (max-width: 802px) {
  .aboutus .aboutus-cont {
    width: 80%;
  }
  .our-research .aboutus-cont {
    border: 1px solid #a8b1b6;
    width: 80%;
  }
  .search-bl-img {
    height: 32rem;
  }
  .our-people .aboutus-cont {
    width: 80%;
  }
  .our-people .our-p-nav {
    width: 90%;
  }
  .card-holder {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-holder .card {
    width: 90%;
  }
  .footer-nav .btm {
    width: 100%;
  }
  .footer-nav .btm .log li a {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */