* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("./../fonts/CooperHewitt-Light.otf");
  font-weight: lighter;
}

* {
  font-family: "Cooper Hewitt";
}

.bg {
  background-image: url("./../images/parnters.png");
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
  z-index: 200;
}

.top--nav {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.top--nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top--nav .cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.top--nav .nav-item {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top--nav .nav-item li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
}

.top--nav .nav-item li a {
  color: white;
}

.top--nav .nav-item li:hover {
  border-top: 1px solid #cd1d46;
  font-size: 1rem;
  font-weight: 600;
}

.top--nav .nav-item li:hover a {
  color: white;
}

.welcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .wlcm-holder {
  width: 80%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .wlcm-holder p,
.welcome .wlcm-holder h2 {
  color: #a8b1b6;
  text-align: center;
  margin-top: 1rem;
}

.welcome .wlcm-holder h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
}

.welcome .wlcm-holder .title {
  color: #cd1d46;
  text-transform: uppercase;
}

.welcome .wlcm-holder .para {
  line-height: 1.8rem;
}

.welcome .wlcm-holder div {
  margin-top: 1rem;
}

.welcome .wlcm-holder div span {
  color: #a8b1b6;
  display: inline;
  margin-left: 1rem;
  color: white;
}

.welcome .wlcm-holder div span:nth-child(1) {
  text-decoration: underline;
}

.welcome .pt1 {
  background-image: url("./../images/shutterstock_1809752635.png");
}

.cell-home-bl-img {
  height: 25rem;
  position: relative;
}

.cell-home-bl-img .image {
  background-image: url("./../images/cell_home.png");
  width: 100%;
  height: 100%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: -100px, 100px;
  -webkit-clip-path: polygon(0 25%, 100% 42%, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 42%, 100% 100%, 0% 100%);
}

.temp {
  padding: 1rem;
}

.footer-bar {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bar .bar-cont {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a8b1b6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-bar .bar-cont p {
  color: #a8b1b6;
}

.partners {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners .pt-cards {
  width: 80%;
}

.partners .pt-cards .img {
  margin-bottom: 0.3rem;
}

.partners .pt-cards .img img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items {
  display: none;
}

@media screen and (min-width: 750px) {
  .welcome {
    margin-top: 6rem;
  }
  .welcome .wlcm-holder .title {
    margin-bottom: 1.5rem;
  }
  .welcome .wlcm-holder h2 {
    margin-bottom: 1.5rem;
  }
  .welcome .wlcm-holder .para {
    margin-bottom: 1.5rem;
  }
  .footer-bar .bar-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-bar .items {
    margin-bottom: 3rem;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bar .items .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bar .items .icons li {
    padding: 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
  }
  .footer-bar .items .icons li a {
    color: white;
  }
  .footer-bar .items .icons li:hover {
    border: 1px solid #cd1d46;
  }
  .footer-bar .items .icons li:hover a {
    font-size: 1.1rem;
  }
  .footer-bar .items .nav-item li a {
    color: white;
    border-radius: 30px;
    border: 1px solid #cd1d46;
    padding: 1rem;
  }
  .top--nav .links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top--nav .links .nav-item .ch {
    border: 1px solid #cd1d46;
  }
  .top--nav .links .lst-child {
    position: relative;
    border-radius: 30px;
  }
  .top--nav .links .lst-child:hover {
    background-color: #cd1d46;
  }
  .top--nav .links .lst-child:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100;
    top: -5px;
    left: 0;
    border-radius: 20px;
    border: 1px solid #cd1d46;
    padding-top: 3rem;
  }
  .top--nav .nav-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .top--nav .cross {
    display: none;
  }
  .about-bl-img,
  .cell-home-bl-img {
    height: 35rem;
  }
  .about-bl-img .playbtn,
  .cell-home-bl-img .playbtn {
    top: 12%;
    left: 45%;
  }
  .about-bl-img .image,
  .cell-home-bl-img .image {
    background-size: auto;
  }
  .headhand-bl-img {
    height: 35rem;
  }
  .headhand-bl-img .playbtn {
    top: 12%;
    left: 45%;
  }
  .headhand-bl-img .image {
    background-size: auto;
  }
  .footer-bar .bar-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .partners {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .partners .pt-cards {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners .pt-cards .img {
    width: 23%;
    margin-left: 0.2rem;
  }
  .partners .pt-cards .img img {
    width: 100%;
  }
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: none;
}

.line {
  position: relative;
  height: 5rem;
  width: 0.2rem;
  background: #373434 !important;
  margin-bottom: 3.3rem;
}

.line::after {
  content: "";
  position: absolute;
  background-color: #cd1d46;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=partner.css.map */